#site
  height: 100vh
  background-color: black
  overflow: hidden
  .row
    height: calc(100% - 50px)

.navbar
  margin-bottom: 0

.content-panel
  height: 100%
  padding-right: 0
  padding-left: 0

.sidebar
  opacity: 0.5
  background-color: #333
  color: #aaa
  transition: opacity 0.5s ease
  padding-top: 10px
  height: 100%
  &:hover
    opacity: 1.0

.slider-input
  display: block
  width: 100%
  margin: 0 0 15px 0
  label
    padding: 0 5px
    display: block
    text-transform: capitalize
  .slider
    background-color: #aaa
    margin: 8px 0 0 0
    height: 2px
  .handle
    border-radius: 6px
    margin-top: -5px
    height: 12px
    width: 12px
    border: 2px solid #fff
    background-color: white
    &:active, &:hover
      width: 16px
      height: 16px
      border-radius: 8px
      margin-top: -7px
      margin-left: -2px
