html {
  font-size: 12px;
}

#site {
  height: 100vh;
  background-color: black;
  overflow: hidden;
  .row {
    height: calc(100% - 50px);
  }
}

.color-picker-input, .slider-input {
  margin: 0 0 10px 0;
  display: block;
  width: 100%;
}

.modal-header {
  .close {
    font-size: 0;
    &:before {
      font-size: 26px;
      content: "\00d7";
    }
  }
}

.color-picker-modal {
  background-color: white;
  .header {
    text-transform: capitalize;
    display: flex;
  }
  .header .icon {
    float: right;
    cursor: pointer;
    font-size: 1em;
    margin-top: -0.2em;
  }
}

.color-picker-input {
  .color-name {
    display: inline-block;
    line-height: 1.2142em;
    padding: 0.67861em 0;
    color: #aaaaaa;
    text-transform: uppercase;
  }
  .color-swatch {
    border-radius: 3px 0 0 3px;
    width: 100%;
    border: 1px solid white;
    border-right: none;
    display: block;
    position: relative;
    height: calc(0.78571429em * 2 + 1rem);
  }
}

.slider-input {
  .slider {
    margin: 1.2142em 0;
    background-color: #aaaaaa;
    height: 2px;
  }
  .handle {
    border-radius: 6px;
    margin-top: -5px;
    height: 12px;
    width: 12px;
    border: 2px solid white;
    background-color: white;
    &:active, &:hover {
      width: 16px;
      height: 16px;
      border-radius: 8px;
      margin-top: -7px;
      margin-left: -2px;
    }
  }
}

//.color-picker, .color-picker *, .cp-saturation-spectrum, .cp-saturation-spectrum *, .cp-hue-spectrum, .cp-hue-spectrum *
//  box-sizing: border-box

.cp-saturation-spectrum, .cp-hue-spectrum {
  position: relative;
  display: inline-block;
}

.cp-saturation-white, .cp-saturation-black {
  position: relative;
  width: 100%;
  height: 100%;
}

.cp-saturation-white {
  background: linear-gradient(to right, white, rgba(204, 154, 129, 0));
}

.cp-saturation-black {
  background: linear-gradient(to top, black, rgba(204, 154, 129, 0));
}

.cp-saturation-spectrum {
  cursor: pointer;
  .cp-saturation-drag {
    display: none;
    border: 1px solid white;
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    .inner {
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid black;
      border-radius: 10px;
    }
  }
}

.cp-hue-spectrum {
  background: linear-gradient(to bottom, red 0%, yellow 17%, lime 33%, cyan 50%, blue 67%, magenta 83%, red 100%);
  cursor: pointer;
  .cp-hue-drag {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border: 1px solid black;
  }
}

.ui.form .field > label, .ui.input label {
  color: #cccccc;
  text-transform: capitalize;
}

.ui.styled.accordion {
  margin: 0;
  background-color: #181818 !important;
  .title {
    color: #cccccc !important;
  }
  .right.floated.icon {
    float: right;
    margin-left: 0em;
    margin-right: 0.25em;
  }
  .popup .content {
    padding: 0;
  }
}

.experiment-viewer {
  display: flex;
  flex-flow: column;
  .breadcrumb {
    color: white;
    .divider {
      color: #cccccc;
    }
  }
  height: 100vh;
}

.topbar {
  height: 41px;
  padding: 0.67861em;
  background-color: #303030;
  border-bottom: 2px solid #111111;
}

.sidebar {
  flex: 1;
  background-color: #202020;
  color: #aaaaaa;
  transition: opacity 0.5s ease;
  padding-top: 10px;
  overflow-y: scroll;
  min-height: fill-available;
  &:hover {
    opacity: 1;
  }
  .dropdown {
    margin: 0.75em 0;
  }
}

.experiment-viewer-grid {
  flex: 2;
  height: 100%;
}

.content-panel {
  padding-right: 0;
  padding-left: 0;
  height: calc(100% - 38px);
  overflow: auto;
}

.context {
  height: 100%;
  width: 100%;
}

.legend {
  position: absolute;
  display: inline-block;
  list-style: none;
  margin: auto;
  padding: 0;
  margin: 10px;
  bottom: 20px;
}
